<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastrando carro</h1>
    <ul>
        <div>
            <label for="modelo">Modelo: </label>
            <input type="text" name="modelo" id="modelo">
        </div>
        <div>
            <label for="preco">Preço: </label>
            <input type="text" name="preco" id="preco">
        </div>
        <div>
            <label for="ano_fabricacao">Ano de Fabricação</label>
            <input type="text" name="ano_fabricacao" id="ano_fabricacao">
        </div>
        <div>
            <label for="escolha_cor">Escolha a cor que deseja:</label>
            <div>
                <label for="azul">Azul</label>
                <input type="radio" name="cor" id="azul" value="azul">
            </div>
            <div>
                <label for="prata">Prata</label>
                <input type="radio" name="cor" id="prata" value="prata">
            </div>
            <div>
                <label for="preto">Preto</label>
                <input type="radio" name="cor" id="preto" value="preto">
            </div>
        </div>
    </ul>
</body>
</html>