<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            {% load static %}
            <link rel="stylesheet" href="{% static 'exemplos_basicos/contato.css' %}">
        </head>
        <body>
            <a href="home">Home</a>
            <h1>Aluno Ismael Felipe</h1>
            <ul>
                <li>Telefone: (47) 99836-4782</li>
                <li>Email: ismael_felipe@gmail.com</li>
                <li>GitHub: ismael</li>
                <li>Canal YouTube: https://youtube.com/ismael</li>
            </ul>
        </body>
        </html>