<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'exemplos_basicos/jogo.css' %}">
</head>
<body>
    <a href="home">Home</a>
    <h1>Call of Duty: Warzone 2.0</h1>
    <img src="https://www.callofduty.com/content/dam/atvi/infinityward/iw-touchui/news/feature/2022/11/WZ2-S01-DMZ-TACTICS-TOUT.jpg" alt="imagem do jogo 'Warzone 2.0'">
    <ul>
        <li>Categoria: Ação</li>
        <li>Call of Duty: Warzone 2.0 é um jogo eletrônico de battle royale grauito desenvolvido pela Infinity Ward e Raven Software para PlayStation 4, PlayStation 5, Windows, Xbox One e Xbox Series X/S.É uma sequência de Call of Duty: Warzone de 2020. O jogo faz parte do Call of Duty: Modern Warfare II de 2022, mas não requer a compra do título mencionado. Foi introduzido durante a Temporada 1 do conteúdo de Modern Warfare II. O jogo apresenta jogabilidade multiplataforma e um novo modo de extração chamado DMZ.</li>
    </ul>
</body>
</html>