{% extends 'base.html' %}

{% block body %}
<div class="columns is-centered">
    <h1 class="title"> Editar Categoria </h1>
</div>    
    <form action="/interno/categoria-form/editar/{{categoria.pk}}" method="post">
        {% csrf_token %}
        {{ form.as_div }}

        <div class="is-pulled-right">
            <a href="/interno/categoria-form" class="button is-danger is-outlined">
                <span class="icon">
                    <i class="fa-sharp fa-solid fa-xmark"></i>
                </span>
                <span>Cancelar</span>
            </a>
            <button type="submit" class="button is-primary">
                <span class="icon">
                    <i class="fa-solid fa-floppy-disk"></i>
                </span>
                <span>Salvar</span>
            </button>
        </div>
    </form>
{% endblock %}