<!DOCTYPE html>
<html lang="pt" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interno</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
    {% include 'navebar.html' %}
    <section class="section">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </section>
    <script src="https://kit.fontawesome.com/bf128df57c.js" crossorigin="anonymous"></script>
</body>
</html>